<nav class="navbar navbar-dark bg-body-tertiary bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto"><i class="fa-solid fa-store"></i> TIENDA DE ROPA </a>
    {{#if token}}
    <div>
      <p class="roleUser card-text"><i class="fa-solid fa-user"></i> {{ role }} </p>
    </div>
    <p class="login card-text">Bienvenido {{ first_name }}</p>
    <form action="/auth/logout" method="GET">
      <button class="btn btn-success" type="submit"> Sign Out <i class="fa-solid fa-right-from-bracket fa-beat-fade"></i></button>
    </form>
    {{else}}
      {{#if admin}}
      <div>
        <p class="login card-text"><i class="fa-solid fa-user"></i> {{ admin }} </p>
      </div>
      <form action="/auth/logout" method="GET">
        <button class="btn btn-success" type="submit"> Sign Out <i class="fa-solid fa-right-from-bracket fa-beat-fade"></i></button>
      </form>
      {{else}}
        <form action="/auth/login" method="GET">
          <button class="btn btn-success" type="submit"><i class="fa-solid fa-user"></i></button>
        </form>
      {{/if}}
    {{/if}}
    <div>
      <button class="btn btn-outline-danger cart" type="submit"><i class="fa-solid fa-cart-shopping"></i></button> 
    </div>
  </div>
</nav>
      <div class="card" style="width: 500px;">
         {{#each thumbnail}}
        <img src="{{this}}" class="card-img-top" alt="{{title}}">
        {{/each}}
      <div class="card-body">
      <h5 class="card-title"> {{title}}</h5>
      <p class="card-text">Descripcion :{{description}}</p>
      <p class="card-text">Precio: $ {{price}}</p>
      <p class="card-text">Categoría: {{category}}</p>
      <p class="card-text">Stock: {{stock}}</p>
        <p class="card-text">Codigo: {{code}}</p>
        <p class="card-text">Category: {{category}}</p>
     </div>
    </div>

<script src="https://kit.fontawesome.com/48d346ada8.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="/style.css" />
